From: sender@example.com
To: {{ recipient }}
Subject: {{ subject }}
Date: Mon, 10 Mar 2025 10:00:00 -0000
Message-ID: test123@example.com
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
{{ message }}